*{
margin:0;
box-sizing: border-box;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 245, 245);
}
header img{
    width:200px;
    height:100px;
    padding-left:30px;
    padding-right: 30px;
}
li {    
    list-style: none;
    display: inline-block;
}
nav ul li a{
    color:rgba(6, 6, 6, 0.407);
    text-decoration: none;
    padding-left: 12px;
}
nav ul li a:hover{
    color: rgb(0, 123, 255);
}
.Top-Button{
    width:10px;
}